<h3 class="callout">New to OJA?</h3>

<div class="signup">
  <%= form_tag('/users') do %>
    <%= text_field_tag "user[email]", "Email address", "data-original-text" => "Email address", :class => "auto-replace" %>
    <%= password_field_tag "user[password]", "password", "data-original-text" => "password", :class => "auto-replace" %>
    
    <%= submit_tag("Create Account", :class => "grey-button") %>
  <%- end -%>
</div>
