<div id="main">
  <div class="left-tabs">
    <div class="tab submit"><h3>Submit a paper</h3></div>
    <div class="tab view active"><h3>Dashboard</h3></div>
    <div class="tab edit"><h3>Edit papers</h3></div>
  </div>
  <div class="right-certified">
    <%= image_tag "fold.png", :class => "fold" %>
    <h3 class="about">About this paper</h3>
    <div class="paper">
      <p class="kind">Title</p>
      <p class="value">Galaxy Zoo: Bulgeless Galaxies with Growing Black Holes</p>
      
      <p class="kind">Author</p>
      <p class="value">Lintott, C. J. et al</p>
      
      <p class="kind">Year</p>
      <p class="value">2009</p>
      
      <p class="kind">Submission Date</p>
      <p class="value">1 November 2012</p>
      
      <p class="kind">Review Status</p>
      <p class="value">Reviewed &amp; Accepted</p>
    </div>
  </div>
  <div class="clear"></div>
</div>