<div class='reviewers'>
	<h1>Reviewers</h1>
	
</div>

<div class='papers'>
	
	<div class='submitted'>
		<h1>Submitted</h1>

	</div>

	<div class='in_review'>
		<h1>In review</h1>
	</div>

	<div class='accepted'>
		<h1>Accepted</h1>
	</div>

</div>