<div id="main-bar">
</div>
<div id="main">
  <div class="left-certified">
    <%= image_tag "oja_certified.png", :class => "certification-status" %>
  </div>  
  <div class="central-certified">
    <h1>This paper has been peer reviewed<br /> by the Online Journal for Astrophysics.</h1>
    
    <h3>What is an Open Journal?</h3>
    <p>Turducken frankfurter strip steak short ribs short loin, venison spare ribs ham hock beef ribs sirloin drumstick kielbasa jowl. Prosciutto pastrami capicola turducken jowl, flank salami. Doner pastrami capicola ham rump brisket. Fatback leberkas ham bacon frankfurter salami tri-tip.</p>
    
    <h3>What are the benefits of OJA?</h3>
    <p>Shankle doner corned beef, bresaola tri-tip capicola t-bone shoulder turkey jerky venison. Kielbasa corned beef pork chop flank short loin shoulder. Swine brisket bresaola, turkey ham pork loin beef ribs flank hamburger pig kielbasa turducken tongue. Sausage beef ribs ground round pork chop. Turkey shoulder capicola kielbasa boudin.</p>
  </div>
  <div class="right-certified">
    <%= image_tag "fold.png", :class => "fold" %>
    <h3 class="about">About this paper</h3>
    <div class="paper">
      <p class="kind">Title</p>
      <p class="value">Galaxy Zoo: Bulgeless Galaxies with Growing Black Holes</p>
      
      <p class="kind">Author</p>
      <p class="value">Lintott, C. J. et al</p>
      
      <p class="kind">Year</p>
      <p class="value">2009</p>
      
      <p class="kind">Submission Date</p>
      <p class="value">1 November 2012</p>
      
      <p class="kind">Review Status</p>
      <p class="value">Reviewed &amp; Accepted</p>
    </div>
  </div>
  <div class="clear"></div>
</div>