<div id="main">
  <div class="left-tabs">
    <div class="tab submit active"><h3>Submit a paper</h3></div>
    <div class="tab view" id="view_papers_link"><h3>Dashboard</h3></div>
    <div class="tab edit"><h3>Edit papers</h3></div>
  </div>  
  <div class="central-certified wide">
    <%= render :partial => "submit_paper" %>
  </div>
  
  <div class="right-certified">
    <%= render :partial => "shared/signin_signup" %>
  </div>
  <div class="clear"></div>
</div>