<div id="main-bar">
</div>
<div id="main">
  <div class="left-tabs">
    <div class="tab submit active"><h3>Submit a paper</h3></div>
    <div class="tab view"><h3>View papers</h3></div>
    <div class="tab edit"><h3>Edit papers</h3></div>
  </div>  
  <div class="central-certified wide">
    <h1>Open Journal for Astrophysics</h1>
    <p>Turducken frankfurter strip steak short ribs short loin, venison spare ribs ham hock beef ribs sirloin drumstick kielbasa jowl. Prosciutto pastrami capicola turducken jowl, flank salami. Doner pastrami capicola ham rump brisket. Fatback leberkas ham bacon frankfurter salami tri-tip.</p>
    
    <h1 class="headline">Submit a paper to OJA</h1>
    <p>Shankle doner corned beef, bresaola tri-tip capicola t-bone shoulder turkey jerky venison. Kielbasa corned beef pork chop flank short loin shoulder. Swine brisket bresaola, turkey ham pork loin beef ribs flank hamburger pig kielbasa turducken tongue. Sausage beef ribs ground round pork chop. Turkey shoulder capicola kielbasa boudin.</p>
    
    <%= form_tag("/submissions", :method => "post") do %>
      <%= text_field_tag(:arxiv_id, "http://arxiv.org/abs/1206.1831", :class => "arxiv-id auto-replace", :id => "arxiv-submission-id", "data-original-text" => "http://arxiv.org/abs/1206.1831") %>
      <%= submit_tag("Upload", :class => "grey-button") %>
    <% end %>
  </div>
  
  <div class="right-certified">
    <%= render :partial => "signin_signup" %>
  </div>
  <div class="clear"></div>
</div>