<% content_for :head do %>
	<script type="text/javascript">
		$("document").ready(function(){

			paper = new Paper(<%=raw(@paper.to_json)%>)
			pv = new PaperViewer( paper, "#paper", "#controll_bar" ,1, true , "#issues", "editor")
		});
	</script>
<%end%>

<div class='review_interface'>
	<div id='controll_bar'></div>

	<div class='inner-content'>
		<div id='paper'>
			<image class='spinner' src='/assets/ajax-loader.gif'></image>
		</div>
		<div id='issues'>
			<h2>Issues</h2>
			<image class='spinner' src='/assets/ajax-loader.gif'></image>
		</div>
	</div>

</div>


