<% content_for :head do %>
	<script type="text/javascript">
		$("document").ready(function(){
			pv = new PaperViewer( "1211.3118" , "#paper", "#controll_bar" ,1, true , "#issues", "editor")
		});
	</script>
<%end%>

<div class='review_interface'>
	<div id='controll_bar'></div>
	<div id='paper'></div>
	<div id='issues'>
		<h2>Issues</h2>
	</div>

</div>

