// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "grid"
@import "general"

#center
  width: $full-width
  margin: 20px auto
  
  .clear
    clear: both
  
#main-bar
  margin-top: 20px
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  background: #eaeaea
  height: 2.5 * $gutter-size
  border-bottom: 1px solid #d2d2d2

  .signout
    text-decoration: none
    float: right
    margin: 30px 10px 0px 0px

  
#main
  background: #fafafa
  
  .left-tabs
    width: $one-sixth
    float: left
    
    .tab
      border-right: 1px solid #bfbfbf
      border-bottom: 1px solid #bfbfbf
      width: 150px
      height: 135px
      background: #f5f5f5
      
      h3
        width: 150px
        margin: 0px
        padding: 100px 0px 0px 0px
        text-align: center
        
      &.submit
        background: #f5f5f5 url('paper_submit.png') no-repeat 43px 25px
        
        &.active
          border-right: none
          background: #fafafa url('paper_submit.png') no-repeat 43px 25px

          h3
            color: $oja_green
      
      &.view
        background: #f5f5f5 url('paper_view.png') no-repeat 43px 25px
        
        &.active
          border-right: none
          background: #fafafa url('paper_view.png') no-repeat 43px 25px

          h3
            color: $oja_green

      &.edit
        background: #f5f5f5 url('paper_edit.png') no-repeat 43px 25px
        
        &.active
          border-right: none
          background: #fafafa url('paper_edit.png') no-repeat 43px 25px

          h3
            color: $oja_green

      &.submitted
        background: #f5f5f5 url('paper_edit.png') no-repeat 43px 25px
        
        &.active
          border-right: none
          background: #fafafa url('paper_edit.png') no-repeat 43px 25px

          h3
            color: $oja_green

      &.in_review
        background: #f5f5f5 url('paper_edit.png') no-repeat 43px 25px
        
        &.active
          border-right: none
          background: #fafafa url('paper_edit.png') no-repeat 43px 25px

          h3
            color: $oja_green

      &.accepted
        background: #f5f5f5 url('paper_edit.png') no-repeat 43px 25px
        
        &.active
          border-right: none
          background: #fafafa url('paper_edit.png') no-repeat 43px 25px

          h3
            color: $oja_green
      
  .left-certified
    width: $one-quarter + $gutter-size
    float: left
    margin: 0px
    
    img.certification-status
      padding: $column-size/2 55px
    
  .central-certified
    width: $one-half - $gutter-size
    padding: $column-size/2 $gutter-size*2 $column-size/2 0
    float: left
    margin: 0px

    &.dashboard
      width: ($column-size * 7) + ($gutter-size * 4)
      padding-left: $gutter-size * 2
      &.tabbed 
        display: none 
        &.active 
          display: block
      ul
        li
          display: inline
          margin-right: $gutter-size

      .cover_image
        width: 108px
        border: 1px solid #e2e2e2
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)

        &.selected
          border: 1px solid #00b1ff
          box-shadow: 0 0 5px rgba(0, 177, 255, 1)
          -webkit-box-shadow: 0 0 5px rgba(0, 177, 255, 1)
          -moz-box-shadow: 0 0 5px rgba(0, 177, 255, 1)



    &.wide
      width: ($column-size * 5) + ($gutter-size * 6)
      padding-left: $gutter-size + $column-size
    p
      width: 100%
      
    h1
      &.headline
        color: $oja_green
        padding-top: 30px
        
    input
      &.arxiv-id
        font-style: italic
        font-size: 16px
        line-height: 30px
        color: #bfbfbf
        width: 250px
    
      &.grey-button
        background: #f3f3f3
        border-radius: 3px
        box-shadow: inset 0px 1px 0px #fff 0px 2px 3px rgba (0,0,0,.25)
        border: 1px solid #bfbfbf
        font-family: Helvetica Neue
        font-weight: bold
        font-size: 15px
        padding: 0px 16px
        margin-left: 10px
        color: #2B2B2B
        height: 36px
        text-shadow: 0px 1px 2px rgba (0,0,0,.3)

      &.green-button
        background: #b2cd00
        border-radius: 3px
        box-shadow: inset 0px 1px 0px #c9e800, 0px 2px 3px rgba (0,0,0,.25)
        border: 1px solid #6c7c00
        font-family: Helvetica Neue
        font-weight: bold
        font-size: 15px
        padding: 0px 26px
        margin-left: 22px
        color: #fff
        height: 36px
        text-shadow: 0px 1px 2px rgba (0,0,0,.3)
    
  .right-certified
    position: relative
    width: $one-quarter - 1 
    float: right
    background: #f5f5f5
    border-left: 1px solid #bfbfbf
    height: 100%
    min-height: 430px
    
    &.preview
      min-height: 700px
      
    .fold
      position: absolute
      top: 28px
      left: -4px
      
    .about
      color: $oja_green
      padding: 20px 20px 0px 20px
      
      &.dashboard
        color: $light_blue
    
    .callout
      padding: 20px 20px 0px 20px
      
    .signup
      form
        width: $column-size * 3
        padding-left: $gutter-size
        input
          width: ($column-size * 3) - 10
          padding: 5px
          font-size: 12px
          line-height: 25px
          color: #bfbfbf          
          border-radius: 3px
          box-shadow: inset 0px 1px 0px #fff 0px 2px 3px rgba (0,0,0,.25)
          border: 1px solid #bfbfbf
          font-family: Helvetica Neue
          font-weight: normal
          margin-left: 0px
          
          &.grey-button
            width: ($column-size * 3)
            margin-top: 3px
            background: #f3f3f3
            border-radius: 3px
            box-shadow: inset 0px 1px 0px #fff 0px 2px 3px rgba (0,0,0,.25)
            border: 1px solid #bfbfbf
            font-family: Helvetica Neue
            font-weight: bold
            font-size: 15px
            color: #2B2B2B
            height: 36px
            text-shadow: 0px 1px 2px rgba (0,0,0,.3)
            
    .signin
      form
        width: $column-size * 3
        padding-left: $gutter-size
        input
          width: ($column-size * 3) - 10
          padding: 5px
          font-size: 12px
          line-height: 25px
          color: #bfbfbf          
          border-radius: 3px
          box-shadow: inset 0px 1px 0px #fff 0px 2px 3px rgba (0,0,0,.25)
          border: 1px solid #bfbfbf
          font-family: Helvetica Neue
          font-weight: normal
          margin-left: 0px
          
          &.blue-button
            width: ($column-size * 3)
            margin-top: 3px
            background: #009bdf
            border-radius: 3px
            height: 36px
            box-shadow: inset 0px 1px 0px #00b1ff, 0px 2px 3px rgba (0,0,0,.25)
            border: 1px solid #006c9b
            font-family: Helvetica Neue
            font-weight: bold
            font-size: 15px
            color: #fff
            text-shadow: 0px 1px 2px rgba (0,0,0,.3)


      
    .paper
      padding: 0px 20px
      .kind
        font-family: Helvetica Neue
        font-weight: bold
        font-size: 10px
        color: #9c9c9c
        text-shadow: 0px 1px 0px #fff
        padding: 0px 0px 3px 0px
        margin: 0px
        
      .value
        padding: 0px 0px 10px 0px
        margin: 0px
        font-family: Helvetica Neue
        font-weight: regular
        font-size: 13px
        color: #4a4a4a
        text-shadow: 0px 1px 0px #fff
  
  .paper
    padding-top: 30px

    a.review-button
      display: block
      width: 195px
      margin-top: 3px
      background: #009bdf
      border-radius: 3px
      height: 36px
      box-shadow: inset 0px 1px 0px #00b1ff, 0px 2px 3px rgba (0,0,0,.25)
      border: 1px solid #006c9b
      font-family: Helvetica Neue
      font-weight: bold
      color: #fff
      text-shadow: 0px 1px 2px rgba (0,0,0,.3)
      text-decoration: none
      font-size: 15px
      line-height: 35px
      text-align: center

    .paper_preview
      vertical-align: top
      display: inline-block
      width: ($column-size * 2) + ($gutter-size * 3)
      img
        border: 5px solid $oja_green
      #mypdfdoc 
        margin-left: -27px
        margin-top: 0px

    .paper_details
      vertical-align: top
      display: inline-block
      width: $one-quarter

      h3
        margin-top: 0px
        padding-top: 0px
        
      .kind
        font-family: Helvetica Neue
        font-weight: bold
        font-size: 10px
        color: #9c9c9c
        text-shadow: 0px 1px 0px #fff
        padding: 0px 0px 3px 0px
        margin: 0px

      .value
        padding: 0px 0px 10px 0px
        margin: 0px
        font-family: Helvetica Neue
        font-weight: regular
        font-size: 13px
        color: #4a4a4a
        text-shadow: 0px 1px 0px #fff