// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review_interface
	background-color: #F5F5F5

	#controll_bar
		background-color: #EAEAEA
		width: 100%
		height: 50px 
		border: 1 px solid #D2D2D2
	#paper 
		display: inline-block
		vertical-align: top
	#issues
		display: inline-block
		vertical-align: top
		